html,
body {
  height: 100%;
}

body {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background: url("/static/img/bg.jpg") no-repeat;
    background-size: cover;
    }

form {
        width: 100%;
        max-width: 330px;
        padding: 15px;
        margin: auto;
    }