<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/body.css">
    <script src="/static/js/jquery-3.5.1.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>学生信息管理系统 - 修改个人信息</title>
</head>
<body>
<div class="container">
    <div class="row justify-content-center" style="height:700px">
        <div class="align-self-center" style="text-align:center;">
            <b><h2>修改个人信息</h2></b>
            <form action="/alterself" method="post">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <div class="input-group-text">账号</div>
                    </div>
                    <input class="form-control" type="text" value="{{username}}" readonly>
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <div class="input-group-text">账号类型</div>
                    </div>
                    <input class="form-control" type="text"
                           value="{% if type == 'student' %}学生{% else %}教师{% endif %}" readonly>
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <div class="input-group-text">{% if type == 'student' %}学号{% else %}编号{% endif %}</div>
                    </div>
                    <input class="form-control" type="text" value="{{num}}" readonly>
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <div class="input-group-text">密码</div>
                    </div>
                    <input class="form-control" placeholder="新密码" name="pswnew" type="password">
                    <font style="color:grey">(不修改请留空)</font>
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <div class="input-group-text">姓名</div>
                    </div>
                    <input class="form-control" placeholder="姓名" name="name" value="{{name}}" required>
                </div>
                {% if sex == 'Male' %}
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <div class="input-group-text">性别</div>
                    </div>
                    <select class="form-control" name="sex">
                        <option value="Male">男</option>
                        <option value="Female">女</option>
                    </select>
                </div>
                {% elif sex == 'Female' %}
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <div class="input-group-text">性别</div>
                    </div>
                    <select class="form-control" name="sex">
                        <option value="Female">女</option>
                        <option value="Male">男</option>
                    </select>
                </div>
                {% endif %}
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <div class="input-group-text">年龄</div>
                    </div>
                    <input class="form-control" placeholder="年龄" name="age" value="{{age}}" type="number" required>
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <div class="input-group-text">系</div>
                    </div>
                    <input class="form-control" placeholder="系" name="dept" value="{{dept}}" required>
                </div>
                {% if type == 'student' %}
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <div class="input-group-text">年级</div>
                    </div>
                    <input class="form-control stu" placeholder="年级" name="grade" value="{{grade}}" type="number" oninput="if(value>4)value=4;if(value<1)value=1" required>
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <div class="input-group-text">班级</div>
                    </div>
                    <input class="form-control" placeholder="班级" name="class" value="{{classs}}" type="number" required>
                </div>
                {% endif %}
                <input type="hidden" name="username" value="{{username}}"><br/>
                <button class="btn btn-lg btn-primary btn-block" type="submit">修改</button>
                <a href="/" role="button" class="btn btn-lg btn-primary btn-block">返回首页</a>
            </form>
        </div>
    </div>
</div>
</body>
</html>