<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/body.css">
    <script src="/static/js/jquery-3.5.1.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>学生信息管理系统 - 主页</title>
</head>
<body class="text-center">
<div class="container">
    <div class="row justify-content-center" style="height:500px">
        <div class="align-self-center" style="text-align:center;">
            <h2>学生信息管理系统</h2>
            {% if login == 1 %}
            <a href="status" role="button" class="btn btn-lg btn-primary btn-block">个人信息</a>
            {% if type == 'student' %}
            <a href="alterself" role="button" class="btn btn-lg btn-primary btn-block">修改信息</a>
            <a href="course" role="button" class="btn btn-lg btn-primary btn-block">选课(未完成)</a>
            <a href="courses" role="button" class="btn btn-lg btn-primary btn-block">已选课程(未完成)</a>
            <a href="score" role="button" class="btn btn-lg btn-primary btn-block">个人成绩</a>
            <a href="currleave" role="button" class="btn btn-lg btn-primary btn-block">当前请假</a>
            <a href="leave" role="button" class="btn btn-lg btn-primary btn-block">请假</a>
            {% else %}
            <a href="statusSelect" role="button" class="btn btn-lg btn-primary btn-block">学生查询</a>
            <a href="alter" role="button" class="btn btn-lg btn-primary btn-block">修改信息</a>
            <a href="leavemanage" role="button" class="btn btn-lg btn-primary btn-block">请假处理</a>
            <a href="courseset" role="button" class="btn btn-lg btn-primary btn-block">开课(未完成)</a>
            <a href="mycourse" role="button" class="btn btn-lg btn-primary btn-block">我开的课(未完成)</a>
            <a href="add" role="button" class="btn btn-lg btn-primary btn-block">录入成绩</a>
            <a href="deletenum" role="button" class="btn btn-lg btn-primary btn-block">删除成绩</a>
            {% endif %}
            <a href="logout" role="button" class="btn btn-lg btn-primary btn-block">退出登录</a>
            <font size="5">
                {{username}} 已登录<br/>
                用户类型：
                {% if type == 'student' %}
                学生
                {% elif type == 'teacher' %}
                教师
                {% endif %}<br/>
                {% else %}
            </font>
            <a href="/login" role="button" class="btn btn-lg btn-primary btn-block">登录</a>
            <a href="/register" role="button" class="btn btn-lg btn-primary btn-block">注册</a>
            {% endif %}
        </div>
    </div>
</div>
</body>
</html>