<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <script src="/static/js/jquery-3.5.1.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>学生信息管理系统 - 学生查询</title>
</head>
<body>
<div class="container">
    <div class="row justify-content-center bg-light" style="height:600px">
        <div class="align-self-center" style="text-align:center;">
            <h2>学生查询</h2><br />
            <h3>学生信息</h3>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>账号</th>
                    <th>学号</th>
                    <th>姓名</th>
                    <th>性别</th>
                    <th>年龄</th>
                    <th>系</th>
                    <th>年级</th>
                    <th>班级</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>{{StatusTable[0]['account']}}</td>
                    <td>{{StatusTable[0]['Num']}}</td>
                    <td>{{StatusTable[0]['Name']}}</td>
                    <td>{% if StatusTable[0]['sex'] == 'Male' %}男{% elif StatusTable[0]['sex'] == 'Female' %}女{% endif
                        %}
                    </td>
                    <td>{{StatusTable[0]['Age']}}</td>
                    <td>{{StatusTable[0]['Dept']}}</td>
                    <td>{{StatusTable[0]['Grade']}}</td>
                    <td>{{StatusTable[0]['Class']}}</td>
                </tr>
                </tbody>
            </table><br />
            <h3>学生成绩</h3>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>课程名</th>
                    <th>教师</th>
                    <th>成绩</th>
                    <th>学年</th>
                </tr>
                </thead>
                <tbody>
                {% for item in ScoreTable %}
                <tr>
                    <td>{{item['course']}}</td>
                    <td>{{item['Tnum']}}</td>
                    <td>{{item['score']}}</td>
                    <td>{{item['grade']}}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            <a href="/" role="button" class="btn btn-primary">返回首页</a>
        </div>
    </div>
</div>
</body>
</html>